header {
    font-family: "Lucida Handwriting", cursive;
    font-size:36pt;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

html, body {
    height: 100vh;
}

h1 {
    width:auto
}

main {
    height: 100%;
}

aside {
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow:hidden;
    position:relative;
    padding: 15px;
    
}

.resultcard {
    border-radius: 25px;
    border: 2px solid #facc15;
    padding: 20px;
    position: relative;
    text-align: center;
    color: white;
    aspect-ratio: 2 / 3;
    min-width: 25%;
    max-width: 25%;
}

.favoritesCard {
    border-radius: 25px;
    border: 2px solid #115e59;
    padding: 20px;
    aspect-ratio: 2 / 3;
    max-width: 100%;
    min-width: 50%
}

.recipeImage {
    max-width: 100%;
    max-height: 100%;
}

.recipeText {
    position: center;
    top: 50%;
    left: 50%;
    text-shadow: 0px 0px 10px #000000;
    color: white;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.blank {
    border: black solid 5px;
}

.modal {
    background-color: #0f766e;
    font-size: large;
    font-weight: 500;
    
}

.modalInput {
    background-color: #0d9488;
}

.modalSubmit {
    background-color: #0f766e;
}

.errorMessage {
    color: red;
    font-weight: 200;
    font-style: italic;
}
/*icon image attribution: <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>  */

nav {
    font-size: 14pt;
}

#searchSubmitBtn{
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

.userData{
    border-radius: 12px;
    border-color: aquamarine;
    border-width: 1.5px;
    margin: 0px 5px 0px 5px;
}

.hidden {
    display:none;
}

.userData h2{
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    font-size: 20pt;
}

#resultsList {
    display: flex;
    flex-wrap: wrap;
}

#openModal {
    font-family: "Lucida Handwriting", cursive;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}