header {
    font-family: "Lucida Handwriting", cursive;
    font-size:36pt;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

h1 {
    width:auto
}

/*icon image attribution: <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>  */
